
.home{
    font-family:'Roboto';
    text-decoration: none;
}

/**** header ****/

.home header{
    background-color: var(--color-amarillo);      
}
.home header img{
    width: 50%;
    height: auto;
    padding: 10px;
    margin-left: 10px;
}

.home header p {
     text-align: center;
     font-size: 12px;
     margin-top: 10px;
     margin-bottom: 10px;

}

/* Header -> search bar (Barra de búsqueda)*/

.home .search{
    padding: 0px;
    margin-left: 10px;
}
.home .search .lupa{
    margin-left: 5px;
}

/*Header -> navbar (Barra de navegación)*/

.home nav .navbar{
    display: none;
    font-size: 12px ;
    text-align: left;
    list-style: none;
    margin-left:0px;
    padding: 0;
}

.home nav a{
    text-decoration: none;
    color: black;
}

/*Header -> Login bar (Barra de acceso)*/

.home nav .login-bar{
    display: none;
    font-size: 12px ;
    text-align: left;
    list-style: none;
    margin-left:0px;
    padding: 0;
}

/*Header -> burger menu (menú hamburguesa)*/

.home nav .burger{
    display: block;
    background-color: var(--color-celeste);
    color: var(--color-gris-claro);
    border-radius: 6px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;      
}


/*main*/

.home .menu{
    background-color: var(--color-gris-claro);
    text-align: center;
    width: 100%;
  
 
}
.home .caja{
    display: flex;
    background-color: var(--color-gris-claro);
}
.home .banner{
    width: 100%;  
}

.home .menu h2{
    color: var(--color-gris-oscuro);
    font-size: var(--Titulares);
    margin-right: 15px;
    padding-top: 15px;
    padding-bottom: 12px;
}

.home .menu .precios {
    font-size: var(--Precios);

}

.home .menu span{
    font-size: var(--Descuentos);
  
    color: var(--color-verde);
}
.home .menu .descripciones{ 
    display: none;

}
.home .menu img{
    width: 100%;  
    padding: 0px 10px ;
    
}
.home .menu article{
    margin-bottom: 10px;
   
}

.home .menu article .art{
    text-align: left;
  border-top: solid 1px var(--color-gris-claro);

  margin: 0px 10px;
  padding: 0px 10px;
  background-color: white
}

.home .menu article i{
    text-align: left;
    padding: 5px;
    width: 50px;
    height: 50px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 100%;
    color: #39b54a;
}



/*footer*/

.home footer section{
text-align: center;
}


.home footer p{
color: var(--color-gris-oscuro);
font-size: var(--Cuerpos-de-texto);
text-align:center;
margin: 0px 15px 30px 15px;

}

.home footer h4{
  margin: 0px;
   
   
}
.home footer section i{

 color: var(--color-celeste);
 font-size: 2em;
 margin-top: 30px;
 margin-bottom: 10px;
 
}

.home footer .copyright{

    text-align: left;
}


@media (min-width:361px){

    /*Header -> Login bar (Barra de acceso)*/

    .home nav .login-bar{
      display: block;
    }
    .home nav .navbar{
     display: block;
    }
     .home nav .burger{
      display: none;
    }

   /*main*/

  .home .menu .descripciones{  
   display: block;
   color: var(--color-gris-oscuro);
   

  }

  .home .menu article{
    box-shadow: 0 0 10px rgb(100, 100, 100);
  }
      
  
}

@media (min-width:769px){

}
