/*---------- header ----------*/
header{
    background-color: var(--color-amarillo); /* color de fondo */
}

header .logo{
    width: 38%; /* ancho */
    padding: 28px 0 12px; /* relleno: superior, laterales e inferior */
    margin-left: 24px; /* margen izquierdo */
}

header .buscador{
    margin-left: 15px; /* margen izquierdo */
}

header .buscador .buscar{
    width: 170px; /* ancho */
}

header .buscador button{
    margin-left: 4px; /* margen izquierdo */
}

header p{
    margin-top: 10px; /* margen superior */
    font-size: 12px ; /* tamaño de letra */
    text-align: center; /* centrar el texto */
}

header nav{
    padding: 0 0 18px 10px; /* relleno: superior, derecha, inferior e izquierda */
    display: none; /* no mostrar */
}

header nav ul{
    margin-top: 20px; /* margen superior */
    line-height: 13px; /* interlineado */
}

header nav ul a{
    font-size: 12px ; /* tamaño de letra */
    color: #000000; /* cambiar color */
}  

header .burger-menu{
    padding: 18px 0; /* relleno: superior-inferior y laterales */
    text-align: center; /* centrar */
    border: none; /* sin bordes */
}

header .burger-menu .fa-bars{
    color: rgb(255, 255, 255); /* color del icono */
    background-color: var(--color-celeste); /* color de fondo */
    padding: 10px; /* relleno: todos los lados */
    border-radius: 5px; /* redondear borde */
}

/*----- banner -----*/
.banner{
    width: 100%; /* ancho */
}

/*---------- main ----------*/
main{
    background-color: var(--color-gris-claro); /* color de fondo */
    padding-bottom: 10px; /* relleno inferior */
}

main .productos{
    width: 90%; /* ancho */
    margin-left: 5%; /* margen izquierdo */
}

main .productos h3{
    font-size: 24px; /* tamaño de letra */
    color: var(--color-gris-oscuro); /* color de letra */
    padding: 10px 0 5px; /* relleno: superior, latereles e inferior */
}

main .productos article{
    width: 100%; /* ancho */
    background-color: rgb(255, 255, 255); /* color de fondo */
    margin: 10px 0; /* margen: superior-inferior y laterales */
}

main .productos article img{
    width: 100%; /* ancho */
}

main .productos article .caja{
    border-top: 1px solid var(--color-gris-claro); /* borde: tamaño,forma y color */
    padding: 15px; /* relleno: todos los lados */
}

main .productos article .caja .fa-truck{
    font-size: 15px; /* tamaño */
    color: var(--color-verde); /* color del icono */
    padding: 12px 10px; /* relleno: superior-inferior y laterales */
    border: 1px solid var(--color-verde); /* borde: tamaño,forma y color */
    border-radius: 50%; /* redondear borde */
}

main .productos article .caja p{
    font-size: 18px; /* tamaño de letra */
}

main .productos article .caja span{
    display: inline-block; /* elemento en linea-bloque */
    font-size: 16px; /* tamaño de letra */
    color: var(--color-verde); /* color de letra */
}

main .productos article .caja h4{
    font-size: 16px; /* tamaño de letra */
    color: var(--color-gris-oscuro); /* color de letra */
    padding-top: 20px; /* relleno superior */
    display: none; /* no mostrar */
}

/*---------- footer ----------*/
footer{
    background-color: rgb(255, 255, 255); /* color de fondo */
    text-align: center; /* centrar el texto */
    color: var(--color-gris-oscuro); /* color de letra */
    font-weight: 600; /* grosor de letra */
}

footer section article .fa-credit-card, .fa-gift, .fa-user-shield{
   font-size: 2em; /* tamaño de icono */
   color: var(--color-celeste); /* color de fondo */
   padding: 60px 0 10px; /* relleno: superior, laterales e inferior */
}

footer section article h4{
    font-size: 18px; /* tamaño de letra */
    padding: 0 40px; /* relleno: superior-inferior y laterales */
}

footer section article p{
    font-size: 12px; /* tamaño de letra */
    padding: 0 40px; /* relleno: superior-inferior y laterales */
}

footer section .copyrihgt{
    font-size: 12px; /* tamaño de letra */
    text-align: left; /* texto a la izquierda */
    padding: 60px 0 30px 10px; /* relleno: superior, derecha, inferior e izquierda */
}


@media (min-width: 361px){
/*---------- header ----------*/
    header .logo{
        width: 31%; /* ancho */
        padding: 15px 0 10px; /* relleno: superior, laterales e inferior */
    }
    header nav, main .productos article .caja h4{
        display: block; /* elemento en bloque */
    } 

    header nav ul{
        display:initial; /* valor inicial */
    }
    header .burger-menu{
        display: none; /* no mostrar */
    }

/*---------- main ----------*/
    main .productos article{
        box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 ); /* efecto de sombra al marco */
    }
    
}

@media (min-width: 426px){
    
/*---------- main ----------*/
    main .productos{
        width: 100%; /* ancho */
        margin-left: 0%; /* margen izquierdo */
        padding-left: 2%; /* relleno izquierdo */
        overflow: hidden; /* contenido recortado */
    }
    main .productos article{
        width: 48.5%; /* ancho */
        float: left; /* elemento flotante a la izquierda */
        margin-right: 1%; /* margen derecho */
    }
}

@media (min-width: 769px){

/*---------- header ----------*/
    header .logo{
        width: 22%; /* ancho */
    }

/*---------- main ----------*/   
    main .productos{
        padding-left: 1%; /* relleno izquierdo */
    }
    main .productos article{
         width: 24%; /* ancho */
    }
    
}
